@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$responsive-width : 900px;

html {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;

    body {
        width: 85%;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        border-radius: 30px;
        color: #333333;

        nav {
            padding: 2.5em;

            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $responsive-width) {
                flex-direction: column;
                padding-top: 1em;
            }

            div.right {
                @media screen and (max-width: $responsive-width) {
                    margin: 1em 0;
                }

                a {
                    padding-left: 2em;

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fcfcfc;
            margin: 0 0.5em;
            height: 75vh;

            @media screen and (max-width: $responsive-width) {
                flex-direction: column;
                height: 50vh;
            }

            div.left {
                width: 30%;

                img {
                    width: 100%;
                    border-radius: 100%;
                    border: 15px solid #fff;
                    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
                }
            }

            div.center {
                width: 10%;

                @media screen and (max-width: $responsive-width) {
                    width: 0%;
                }
            }

            div.right {
                width: 30%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 75%;

                @media screen and (max-width: $responsive-width) {
                    width: 75%;
                    justify-content: start;
                    height: auto;
                    align-items: center;
                }

                h2 {
                    font-size: 2.5em;
                    font-weight: 700;
                    width: auto;
                }

                p {
                    text-align: justify;
                    width: auto;
                }

                a {
                    width: max-content;
                }
            }
        }

        main {
            margin: 3em 5%;

            div.section-title {
                width: max-content;
                margin: 2em 0;

                h3 {
                    font-size: 1.5em;
                    font-weight: 700;
                }

                div.section-title-bar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0.2em;

                    div {
                        height: 2px;

                        &:nth-child(1) {
                            width: 20%;
                            background-color: #449df0;
                        }

                        &:nth-child(2) {
                            width: 80%;
                            background-color: #f7f7f7;
                        }
                    }
                }
            }

            section.competences div.competences-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                @media screen and (max-width: $responsive-width) {
                    flex-direction: column;
                }

                div.competences-items {
                    width: 49%;
                    display: flex;

                    @media screen and (max-width: $responsive-width) {
                        width: 100%;
                    }

                    div.left {
                        width: 10%;

                        i {
                            font-size: 30px;
                            color: #007aed;
                        }
                    }

                    div.right {
                        width: 90%;

                        h4 {
                            margin: 0;
                        }
                    }
                }
            }

            section.avis div.avis-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 4em;

                @media screen and (max-width: $responsive-width) {
                    flex-direction: column;
                }

                div.avis-items {
                    position: relative;
                    width: 40%;
                    border: 2px solid #e3e3e3;
                    border-radius: 10px;
                    padding-left: 20px;

                    @media screen and (max-width: $responsive-width) {
                        width: 90%;
                        margin-top: 4em;

                        &:first-child {
                            margin-top: 0;
                        }
                    }

                    img {
                        position: absolute;
                        border-radius: 100%;
                        top: -35px;
                        left: -35px;

                        width: 75px;

                        @media screen and (max-width: $responsive-width) {
                            top: -15px;
                            left: -15px;
                            width: 70px;
                        }
                    }

                    i.absolute-quotes {
                        position: absolute;
                        bottom: -33px;
                        right: -33px;
                        font-size: 4em;
                        color: #f5f5f5;
                    }

                    div.commentaire {
                        padding: 10px 30px 10px 45px;
                        border-radius: 10px;

                        @media screen and (max-width: $responsive-width) {
                            padding: 10px 10px 10px 30px;
                        }
                    }

                    div.createur {
                        display: flex;

                        div.left {
                            width: 45px;

                            i {
                                color: #e5e5e5;
                                font-size: 2em;
                            }
                        }
                    }
                }
            }

            section.clients div.clients-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                figure {
                    width: 16%;
                    margin: 0;
                    padding: 0;

                    @media screen and (max-width: $responsive-width) {
                        width: 30%;
                    }

                    img {
                        width: 100%;
                        filter: grayscale(100%);
                    }
                }
            }

            section.histoire div.histoire-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;

                div.histoire-items {
                    width: 20%;
                    height: 175px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 2px solid #e3e3e3;
                    border-radius: 10px;

                    @media screen and (max-width: $responsive-width) {
                        width: 40%;
                        margin: 0.5em 0;
                    }

                    i {
                        font-size: 2em;
                        color: #0779ed;
                    }

                    @media screen and (max-width: $responsive-width) {
                        h4.histoire-title {
                            font-size: 0.75em;
                        }
                    }

                    h5.histoire-stat {
                        font-size: 3em;
                        color: #d5d5d5;

                        @media screen and (max-width: $responsive-width) {
                            font-size: 2em;
                        }
                    }
                }
            }
        }

        footer {
            padding: 0.5em 3em;

            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: $responsive-width) {
                flex-direction: column;
                padding-top: 1em;
            }

            font-size: 14px;

            border-top: 2px solid #f1f1f1;

            div.left a {
                padding-left: 2em;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

span.bold {
    font-weight: bold;
}

a {
    color: #888888;
    text-decoration: none;
}

p {
    color: #888888;
}

a.btn-blue {
    border: 3px solid #1083ec;
    ;
    color: #000;
    padding: 0.5em 1em;
    border-radius: 30px;
    font-size: 1em;
    transition: 0.3s;

    &:hover {
        background-color: #1083ec;
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}