@font-face {
  font-family: "FF Mark";
  src: local("FF Mark Bold"), local("FF-Mark-Bold"), url("../fonts/Mark-Bold.woff2") format("woff2"), url("../fonts/Mark-Bold.woff") format("woff"), url("../fonts/Mark-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 330px;
  font-family: "FF Mark", sans-serif;
}

@media screen and (max-width: 900px) {
  body {
    margin-left: 0;
  }
}

body nav {
  width: 290px;
  height: 100vh;
  background-color: #353353;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  padding: 0px 0px 0px 40px;
}

@media screen and (max-width: 900px) {
  body nav {
    display: none;
  }
}

body nav h2.title {
  color: #fff;
  font-size: 2rem;
}

body nav h2.title string {
  color: #ff4c60;
}

body nav div.nav-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50%;
}

body nav div.nav-contents a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body nav div.nav-contents a:hover {
  color: #ffd15c;
}

body nav div.nav-contents a i {
  color: #ffd15c;
  margin-right: 0.5em;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: #353353;
}

body header figure img.ProfilPic {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

body header h1.name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

body header div.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

body header div.social a {
  margin-right: 0.75px;
  margin-left: 0.75rem;
  font-size: 21px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body header div.social a:hover {
  color: #f7cc61;
}

body header div.social a:first-child {
  margin-left: 0;
}

body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section {
  width: 90%;
  background-color: #fff;
}

body main section div.section-title {
  margin: 110px 0 60px 0;
}

@media screen and (max-width: 900px) {
  body main section div.section-title {
    width: 100%;
  }
  body main section div.section-title h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
}

body main section div.section-title h2 {
  font-size: 2rem;
  font-weight: 700;
}

body main section.AboutMe div.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  body main section.AboutMe div.section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main section.AboutMe div.section-content figure img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

body main section.AboutMe div.section-content div.presentation {
  width: 50%;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  padding: 30px;
  border-radius: 30px;
}

body main section.Experience div.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 900px) {
  body main section.Experience div.section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main section.Experience div.section-content div.section-content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 .5em 1em .5em;
  width: 50%;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  border-radius: 30px;
  padding: 1.5em 1em;
}

@media screen and (max-width: 900px) {
  body main section.Experience div.section-content div.section-content-items {
    width: 90%;
  }
}

body main section.Experience div.section-content div.section-content-items div.experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.left {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.left i {
  margin-bottom: 10px;
  color: #ff4c60;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.left div.vertical-line {
  width: 1px;
  height: 100px;
  background-color: #ff4c60;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.right {
  width: 90%;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.right h3.work-duration {
  color: #8B88B1;
  font-size: 14px;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.right h2.work-title {
  font-size: 20px;
  margin: 10px 0;
}

body main section.Experience div.section-content div.section-content-items div.experience-item div.right p.work-description {
  font-size: 14px;
  margin: 0;
  color: #6c6b79;
}

body main section.Skills div.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section.Skills div.section-content figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
}

body main section.Skills div.section-content figure img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body main section.RecentWorks div.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5em;
}

@media screen and (max-width: 900px) {
  body main section.RecentWorks div.section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main section.RecentWorks div.section-content div.recent-work-item {
  width: 30%;
}

@media screen and (max-width: 900px) {
  body main section.RecentWorks div.section-content div.recent-work-item {
    width: 90%;
  }
}

body main section.RecentWorks div.section-content div.recent-work-item figure.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
}

body main section.RecentWorks div.section-content div.recent-work-item figure.top img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

body main section.RecentWorks div.section-content div.recent-work-item div.bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.RecentWorks div.section-content div.recent-work-item div.bottom h2.work-title {
  font-size: 20px;
  margin: 10px 0;
}

body main section.RecentWorks div.section-content div.recent-work-item div.bottom p.work-description {
  font-size: 14px;
  margin: 0;
  color: #6c6b79;
  text-align: center;
}

body main section.Contact div.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75vh;
}

body main section.Contact div.section-content div.section-content {
  margin: 0px 0 60px 0;
}

body main section.Contact div.section-content figure img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-bottom: 2em;
}

body main section.Contact div.section-content div.contact-form {
  width: 50%;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 2em;
}

body main section.Contact div.section-content div.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.Contact div.section-content div.contact-form form input:nth-child(1), body main section.Contact div.section-content div.contact-form form textarea {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  width: 100%;
}

footer {
  width: 100%;
  min-height: 25vh;
  background-color: #353353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 1em 0;
}

@media screen and (max-width: 900px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer div {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.title h2 {
  color: #fff;
  font-size: 2rem;
}

footer div.title h2 string {
  color: #ff4c60;
}

footer div.social ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

footer div.social ul li a {
  margin-bottom: 0.5em;
  color: #fff;
}

footer div.contact ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

footer div.contact ul li a {
  margin-bottom: 0.5em;
  color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

.red-button {
  background-color: #ff4c60;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.red-button:hover {
  background-color: #ffd15c;
}
/*# sourceMappingURL=style.css.map */