@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0;
}

html body {
  width: 85%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 30px;
  color: #333333;
}

html body nav {
  padding: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 900px) {
  html body nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1em;
  }
}

@media screen and (max-width: 900px) {
  html body nav div.right {
    margin: 1em 0;
  }
}

html body nav div.right a {
  padding-left: 2em;
}

html body nav div.right a:first-child {
  padding-left: 0;
}

html body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcfcfc;
  margin: 0 0.5em;
  height: 75vh;
}

@media screen and (max-width: 900px) {
  html body header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
  }
}

html body header div.left {
  width: 30%;
}

html body header div.left img {
  width: 100%;
  border-radius: 100%;
  border: 15px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

html body header div.center {
  width: 10%;
}

@media screen and (max-width: 900px) {
  html body header div.center {
    width: 0%;
  }
}

html body header div.right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 75%;
}

@media screen and (max-width: 900px) {
  html body header div.right {
    width: 75%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html body header div.right h2 {
  font-size: 2.5em;
  font-weight: 700;
  width: auto;
}

html body header div.right p {
  text-align: justify;
  width: auto;
}

html body header div.right a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

html body main {
  margin: 3em 5%;
}

html body main div.section-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 2em 0;
}

html body main div.section-title h3 {
  font-size: 1.5em;
  font-weight: 700;
}

html body main div.section-title div.section-title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.2em;
}

html body main div.section-title div.section-title-bar div {
  height: 2px;
}

html body main div.section-title div.section-title-bar div:nth-child(1) {
  width: 20%;
  background-color: #449df0;
}

html body main div.section-title div.section-title-bar div:nth-child(2) {
  width: 80%;
  background-color: #f7f7f7;
}

html body main section.competences div.competences-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
  html body main section.competences div.competences-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html body main section.competences div.competences-container div.competences-items {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 900px) {
  html body main section.competences div.competences-container div.competences-items {
    width: 100%;
  }
}

html body main section.competences div.competences-container div.competences-items div.left {
  width: 10%;
}

html body main section.competences div.competences-container div.competences-items div.left i {
  font-size: 30px;
  color: #007aed;
}

html body main section.competences div.competences-container div.competences-items div.right {
  width: 90%;
}

html body main section.competences div.competences-container div.competences-items div.right h4 {
  margin: 0;
}

html body main section.avis div.avis-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4em;
}

@media screen and (max-width: 900px) {
  html body main section.avis div.avis-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html body main section.avis div.avis-container div.avis-items {
  position: relative;
  width: 40%;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 900px) {
  html body main section.avis div.avis-container div.avis-items {
    width: 90%;
    margin-top: 4em;
  }
  html body main section.avis div.avis-container div.avis-items:first-child {
    margin-top: 0;
  }
}

html body main section.avis div.avis-container div.avis-items img {
  position: absolute;
  border-radius: 100%;
  top: -35px;
  left: -35px;
  width: 75px;
}

@media screen and (max-width: 900px) {
  html body main section.avis div.avis-container div.avis-items img {
    top: -15px;
    left: -15px;
    width: 70px;
  }
}

html body main section.avis div.avis-container div.avis-items i.absolute-quotes {
  position: absolute;
  bottom: -33px;
  right: -33px;
  font-size: 4em;
  color: #f5f5f5;
}

html body main section.avis div.avis-container div.avis-items div.commentaire {
  padding: 10px 30px 10px 45px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  html body main section.avis div.avis-container div.avis-items div.commentaire {
    padding: 10px 10px 10px 30px;
  }
}

html body main section.avis div.avis-container div.avis-items div.createur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body main section.avis div.avis-container div.avis-items div.createur div.left {
  width: 45px;
}

html body main section.avis div.avis-container div.avis-items div.createur div.left i {
  color: #e5e5e5;
  font-size: 2em;
}

html body main section.clients div.clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body main section.clients div.clients-container figure {
  width: 16%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 900px) {
  html body main section.clients div.clients-container figure {
    width: 30%;
  }
}

html body main section.clients div.clients-container figure img {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

html body main section.histoire div.histoire-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html body main section.histoire div.histoire-container div.histoire-items {
  width: 20%;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  html body main section.histoire div.histoire-container div.histoire-items {
    width: 40%;
    margin: 0.5em 0;
  }
}

html body main section.histoire div.histoire-container div.histoire-items i {
  font-size: 2em;
  color: #0779ed;
}

@media screen and (max-width: 900px) {
  html body main section.histoire div.histoire-container div.histoire-items h4.histoire-title {
    font-size: 0.75em;
  }
}

html body main section.histoire div.histoire-container div.histoire-items h5.histoire-stat {
  font-size: 3em;
  color: #d5d5d5;
}

@media screen and (max-width: 900px) {
  html body main section.histoire div.histoire-container div.histoire-items h5.histoire-stat {
    font-size: 2em;
  }
}

html body footer {
  padding: 0.5em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  border-top: 2px solid #f1f1f1;
}

@media screen and (max-width: 900px) {
  html body footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 1em;
  }
}

html body footer div.left a {
  padding-left: 2em;
}

html body footer div.left a:first-child {
  padding-left: 0;
}

span.bold {
  font-weight: bold;
}

a {
  color: #888888;
  text-decoration: none;
}

p {
  color: #888888;
}

a.btn-blue {
  border: 3px solid #1083ec;
  color: #000;
  padding: 0.5em 1em;
  border-radius: 30px;
  font-size: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.btn-blue:hover {
  background-color: #1083ec;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */